## Telegram bot
TELEGRAM_BOT_TOKEN=PASTE_TELEGRAM_BOT_TOKEN_HERE
TELEGRAM_ADMIN_IDS=1249561776
ROLLOUT_TIMEOUT_SECONDS=3600
SQLITE_DB_PATH=data/bot.sqlite3

## 3x-ui client defaults used by the bot
XUI_PANEL_SCHEME=https
XUI_PANEL_PORT=2053
XUI_PANEL_BASE_PATH=/rey
XUI_SUBSCRIPTION_PORT=2096
XUI_SUBSCRIPTION_PATH=/sub/
XUI_CLASH_SUBSCRIPTION_PATH=/clash/
XUI_INBOUND_IDS=1,2,3
XUI_CLIENT_FLOW=xtls-rprx-vision

## Server rollout
ADMIN_USER=rey
ADMIN_USER_PASSWORD=REY_USER_PASSWORD
# ADMIN_USER_PASSWORD_HASH='$6$replace-with-your-sha512-crypt-hash'
# ADMIN_SSH_PUBLIC_KEY='ssh-ed25519 AAAA... your-key-comment'
# ADMIN_SSH_PUBLIC_KEY_FILE=/opt/server-tg-bot/rey_server_ed25519.pub

XUI_USERNAME=rey
XUI_PASSWORD=XUI_PANEL_PASSWORD
